.homepage {
    width: 100vw;
    height: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
}

.title {
    color: black;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    position: relative;
    font-weight: 700;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.name {
    color: lasagna;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 700;
    box-sizing: content-box;
    display: block;
    border-radius: 5px;
    width: fit-content;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

li a:hover,
a:focus {
    color: #555;
}

a {
    text-underline-offset: 10px;
}