html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

.homepage {
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 60px;
    background-color: rgb(255, 199, 207);
    padding: 10px;
    margin-top: 0;
}

.recipes {
    list-style-type: none;
    text-align: center;
}

.recipes li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 500px;
    height: auto;
    display: inline-block;
    margin: 8px;
}

.description {
    font-weight: bold;
    font-size: 25px;
    max-width: 600px;
    margin: 0 auto;
}

.food {
    text-align: center;
    padding-bottom: 60px;
}

.ingredients li {
    list-style-type: none;
    margin: 0, auto;
    font-size: 20px;
}

.instructions li {
    list-style-position: outside;
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
}